{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block content %}
<div class="table-responsive">
    {% if article_list %}
        <table class="table articles-custom">
            <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Synopsis" %}</th>
                    <th>{% trans "Author" %}</th>
                    <th>{% trans "Created" %}</th>
                    <th>{% trans "When" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for article in article_list %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.synopsis|truncatechars:20 }}</td>
                        <td>{{ article.author }}</td>
                        <td>{{ article.created|date:"Y-m-d H:i" }}</td>
                        <td>{{ article.created|timesince }}</td>
                        <td class="text-end">
                            <a href="{% url 'app:article_detail' article.pk %}" class="btn btn-info">{% trans "Read" %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info" role="alert">
            {% trans "No articles posted yet!" %}
        </div>
    {% endif %}
</div>
{% endblock %}
