{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Very cool Articles website{% endblock %}</title>
    {% bootstrap_css %}
  </head>
  <body>
    <script src="{% static 'js/bootstrap5.modal.forms.js' %}"></script>
    {% bootstrap_javascript %}
    <br>
    <div class="container">
      {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
        </div>
      {% endif %}

    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
