{% load static %}
{% load i18n %}

<div class="row align-items-center pb-4">
    <div class="col-auto">
        <a class="nav-link text-dark" href="{% url 'app:articles' %}">
            <p class="display-6 mb-0">Articles</p>
        </a>
    </div>
    <div class="col-auto align-self-end p-0">
        <p class="fw-light fs-4 text-muted mb-0">{% trans "Share your writings" %}</p>
    </div>
    <div class="col-auto ms-auto me-1">
        <a href="{% url 'app:switch_language' %}?next={{ request.path }}" class="btn btn-light">
            {% if request.LANGUAGE_CODE == 'en' %}
                🇫🇷 Français
            {% else %}
                🇬🇧 English
            {% endif %}
        </a>
    </div>
</div>
<nav class="navbar navbar-expand-lg p-0 navbar-dark rounded" style="background-color: #212529;">
    <div class="container-fluid me-3">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto d-flex align-items-center">
                <li class="nav-item ms-2 me-3">
                    <i class="bi bi-files icon-fill text-secondary" style="font-size: 1.5rem;"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-3 {% if request.resolver_match.url_name == 'articles' and user.is_authenticated %}active{% endif %}" href="{% url 'app:articles' %}">{% trans "Articles" %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link p-3 {% if request.resolver_match.url_name == 'favorites' %}active{% endif %}" href="{% url 'app:favorites' %}">{% trans "Favorites" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-3 {% if request.resolver_match.url_name == 'publications' %}active{% endif %}" href="{% url 'app:publications' %}">{% trans "Publications" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link p-3 {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'app:register' %}">{% trans "Register" %}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="mx-2">
                        <span class="nav-link">{% trans "Logged as" %} {{ user.username }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'app:logout' %}">{% trans "Logout" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <form action="{% url 'app:login_nav' %}" method="post" class="d-flex">
                            {% csrf_token %}
                            <input type="text" name="username" class="form-control me-2" placeholder="{% trans "Username" %}" required>
                            <input type="password" name="password" class="form-control me-2" placeholder="{% trans "Password" %}" required>
                            <button type="submit" class="btn btn-light">{% trans "Login" %}</button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
