#chat-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#chat-messages {
    margin-top: auto;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.message {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 10px;
    word-wrap: break-word;
    max-width: 70%;
}

.message.current-user {
    background-color: #eefef2;
    margin-left: auto;
}

.message.other-user {
    background-color: #f2f2f2;
}

.message.system-message {
    padding: 2px 7px;
    color: #ffffff;
    background-color: #909090;
}

#chat-messages p {
    margin: 0;
    font-size: 12px;
    color: #999;
}

.msg-area.current-user {
    align-items: flex-end;
    display: flex;
}

.msg-area.other-user {
    align-items: flex-start;
}

.msg-area.system-message {
    align-self: center;
    text-align: center;
}
